body, p, h4, ul {
    padding: 0;
    margin: 0;
}

img {
    border: none;
}

a {
    text-decoration: none;
    color: black;
}

.common_content {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 10vh;
    overflow: hidden;
}

input, button, textarea {
    outline:none;
}